/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.quick-menu{
    position: relative;
    margin-top:10%;
}

.authentication{
  position: relative;
}

.info{
  font-size: 12px;
}

.auth-box {
  padding: 5px 20px 20px 5px;
}

.auth-input {
  height: 28px;
  margin-bottom: 10px;
}

.login-content {
    background-color: #f5f5f5;
}

.authentication-header {
  margin-left: 10px;
}

.user {
  font-size: 12px;
}
.user-signout{
  margin-left: 10px;
}